<div class="container mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{!-- names and user info --}}
                    <p> Welcome Back Miguel!<span id="firstName"><span id="lastName"></span></span></p>
                    <p><span id="zipcode"></span></p>
                    <img src="LinkedIn-Profile.jpg" height="300" width="175">
                    
                </div>
                <div class="col">
                    {{!-- health information --}}
                    <div id="container" style="width:30%" class="center">

                        {{!-- <p>User Score ID:  <span id="userScore"></span> </p> --}}
                        <p>Heart Risk: 77 <span id="heart"></span></p>
                        <p>Liver Risk: 67<span id="liver"></span></p>
                        <p>Kidney Risk: 34 <span id="kidney"></span></p>
                        <p>Diabetes Risk: 23<span id="diabetes"></span></p>
                        <p>Cancer Risk: 43 <span id="cancer"></span></p>
                        <p>Stroke Risk: 78<span id="stroke"></span></p>
                        <p>Health Risk: 49 <span id="health"></span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Smoke: Yes <span id="smoker"></span></p>
                    <p>Drinks Per Week: 7 <span id="drinker"></span></p>
                    <p>Weight: 178lbs <span id="weighter"></span></p>
                    <p>Calories Per Day: 2000 <span id="calorier"></span></p>
                    <p>Exercise Minutes Per Week: 30 <span id="exerciser"></span></p>
                    <p>Mood: Content <span id="mooder"></span></p>
                    
                </div>
                <div class="col">
                    {{!-- speedometer pie chart --}}
                    <img src="bad.png" id="piechart" alt="">
                </div>
            </div>
        </div>
    </div>
</div>